In [13]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Load the Wine Quality Red dataset
dataset = pd.read_csv('winequality-red.csv', delimiter=';')

dataset
# # Separate features and target
# X = dataset.iloc[: , :-1].values
# y = dataset.iloc[: , -1].values

# print(X)
# print(y)

     fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0     7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
1     7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0....
2     7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0...
3     11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,...
4     7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
...                                                 ...
1594  6.2,0.6,0.08,2.0,0.09,32.0,44.0,0.9949,3.45,0....
1595  5.9,0.55,0.1,2.2,0.062,39.0,51.0,0.99512000000...
1596  6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42...
1597  5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.995470000...
1598  6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39...

[1599 rows x 1 columns]